html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: white;
}

.container {
  width: 1024px;
}

.container h3 {
  margin-top: 50px;
}

.header-container {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-container img {
  width: 100%;
  height: auto;
}

.header-container h1 {
  padding-top: 10px;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}

.myprofile {
  background-color: #ed2541;
  margin-top: 10px;
}

.myprofile img {
  width: 50px;
  height: 50px;
}

.modal-body {
  background-color: #ed2541;
}

.modal-body p {
  font-size: 20px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.nav-nav-bar {
  display: block;
  z-index: 1;
  height: 100px;
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ed2541, #A73333);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ed2541, #A73333);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ed2541, #A73333);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ed2541, #A73333);
  /* Standard syntax */
}

.nav-nav-bar .nav-align {
  margin-top: 50px;
}

.nav-nav-bar .nav-align a {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-right: 30px;
}

#myCarousel {
  margin-top: 0px;
  display: block;
  padding-top: 0px;
}

#myCarousel .carousel-indicators li {
  border: 1px solid #ed2541;
}

#myCarousel .carousel-indicators .active {
  background-color: #ed2541;
}

#myCarousel .carousel-inner .item > img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.layout {
  margin-left: 90px;
}

.layout .box {
  text-align: center;
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 40px;
  margin-right: 40px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background: white;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white 40%, #ed2541);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white 40%, #ed2541);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white 40%, #ed2541);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(white 40%, #B40A0A);
  /* Standard syntax */
}

.layout .box img {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.layout .box h3 {
  font-weight: bold;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.layout .box p {
  font-size: 16px;
  color: white;
}

.layout .box a:link {
  color: black;
}

.subtitle {
  text-align: center;
}

.subtitle h1 {
  font-family: calibri;
  margin-bottom: 50px;
  margin-top: 70px;
  font-size: 48px;
  font-weight: bold;
  color: #ed2541;
}

#changetotime {
  padding: 10px;
  text-align: center;
  color: lightgrey;
}

.fix {
  top: 359px;
  margin-left: 10px;
  max-height: 500px;
  position: fixed;
  z-index: 1;
}

.Delivery {
  margin-top: 50px;
}

.footer {
  margin-top: 10px;
  background: black;
}

.list {
  padding-top: 10px;
}

.categorieslist {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
  color: black;
  background-color: lightgrey;
}

.categoryname {
  margin-left: 15px;
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ed2541, #A73333);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ed2541, #A73333);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ed2541, #A73333);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ed2541, #A73333);
  /* Standard syntax */
}

.categoryname h2 {
  font-weight: bold;
  padding: none;
  color: white;
}

.buildings img {
  width: 100%;
  height: 200px;
}

.text {
  display: block;
  width: 300px;
}

textarea {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}

.contact {
  margin-top: 100px;
  margin-bottom: 180px;
}

.content {
  margin-bottom: 150px;
}

/*Variable class name*/
.nopadding {
  padding: 0px !important;
}

.spcolor {
  color: #ed2541;
}

.textalign {
  text-align: center;
}

.textjustify {
  text-align: justify;
}

.padding-left {
  padding-left: 180px;
}

.padding-right {
  padding-right: 180px;
}

.margin-top {
  margin-top: 50px;
}

.border-top {
  border-top: 3px dashed lightgrey;
}

.shitft-left {
  text-align: left;
}

@media screen and (min-width: 320px) {
  .categoryname {
    margin-left: 0px;
  }
  .products-box {
    margin-left: 0px;
    border: 1px solid lightgrey;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
  }
  .products-box img {
    width: 100%;
  }
  .products-box p {
    padding: 5px;
  }
  .padding-left {
    padding-left: 30px;
  }
  .padding-right {
    padding-right: 30px;
  }
  .subtitle h2 {
    font-size: 25px;
  }
  .subtitle h3 {
    font-size: 16px;
  }
  .no-padding {
    padding: 0px;
  }
  .nav-nav-bar .nav-align {
    margin-top: 10px;
  }
  .nav-nav-bar .nav-align h1 {
    font-size: 20px;
  }
  .myprofile {
    display: none;
  }
  .layout {
    margin-left: 0px;
  }
  .layout .box {
    margin-left: 0px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 480px) {
  .nav-nav-bar .nav-align {
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .categoryname {
    width: 78.5%;
  }
  .list {
    padding-left: 100px;
  }
  .subtitle h2 {
    font-size: 30px;
  }
  .subtitle h3 {
    font-size: 20px;
  }
  .categoryname {
    margin-left: 15px;
  }
  .products-box {
    margin-left: 15px;
    width: 200px;
  }
  .products-box img {
    width: 100%;
  }
  .products-box p {
    padding: 5px;
  }
}

@media screen and (min-width: 990px) {
  .categoryname {
    width: 84%;
  }
  .padding-left {
    padding-left: 180px;
  }
  .padding-right {
    padding-right: 180px;
  }
}

@media screen and (min-width: 1000px) {
  .categoryname {
    width: 95%;
  }
  .header-container h1 {
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
  }
  h1 {
    font-size: 30px;
  }
  .layout {
    margin-left: 100px;
  }
  .layout .box {
    margin-bottom: 0px;
  }
  .myprofile {
    display: inline-block;
    margin-left: 8%;
  }
}

@media screen and (min-width: 1200px) {
  .myprofile {
    margin-left: 10%;
  }
  .categoryname {
    width: 90%;
  }
}

@media screen and (min-width: 1280px) {
  .categoryname {
    width: 86%;
  }
}

@media screen and (min-width: 1300px) {
  .layout {
    margin-left: 150px;
  }
}

@media screen and (min-width: 1920px) {
  .header-container h1 {
    font-size: 30px;
  }
  .myprofile {
    margin-left: 15%;
    margin-top: 25px;
  }
  .layout {
    margin-left: 200px;
  }
}
